In [75]:
import pandas as pd
import numpy as np

In [76]:
df=pd.read_csv('Cardiac Program_M - patients.csv')

In [95]:
import datetime as DT
now = pd.Timestamp(DT.datetime.now())
df['Date_of_Birth'] = pd.to_datetime(df['Date_of_Birth'], format='%m%d%y')
df['Date_of_Birth'] = df['Date_of_Birth'].where(df['Date_of_Birth'] < now, df['Date_of_Birth'] -  np.timedelta64(100, 'Y')) 
df['age'] = (now - df['Date_of_Birth']).astype('<m8[Y]')
df[['Date_of_Birth', 'age']]

     Date_of_Birth    age
0              NaT    NaN
1       1985-01-01   33.0
2       1947-05-12   71.0
3       1924-06-23   94.0
4              NaT    NaN
5       1935-10-24   82.0
6       1930-11-21   87.0
7       1944-11-26   73.0
8       1928-06-25   90.0
9       1945-08-10   73.0
10      1932-10-27   85.0
11      1938-06-06   80.0
12      1928-08-15   90.0
13      1963-12-14   54.0
14      1945-04-27   73.0
15      2018-09-06    0.0
16      1934-06-26   84.0
17      1935-07-04   83.0
18      1923-09-10   95.0
19      1949-12-28   68.0
20      1954-04-18   64.0
21      1933-07-14   85.0
22      1922-10-26   95.0
23      1928-06-21   90.0
24      1935-05-26   83.0
25      1951-01-02   67.0
26      1941-11-12   76.0
27      1936-04-04   82.0
28      1946-05-13   72.0
29      1933-06-12   85.0
...            ...    ...
1141    1953-02-14   65.0
1142    1945-10-14   72.0
1143    1945-04-30   73.0
1144    2018-08-22    0.0
1145    1954-05-03   64.0
1146    1936-07-05   82.0
1147    1930-03-27   88.0
1148    1948-03-01   70.0
1149    1929-07-10   89.0
1150    1918-06-19  100.0
1151    1952-01-06   66.0
1152    1941-10-25   76.0
1153    1930-10-21   87.0
1154    1925-08-16   93.0
1155    1936-08-07   82.0
1156    1947-06-14   71.0
1157    1921-10-20   96.0
1158    1951-04-30   67.0
1159    1937-07-12   81.0
1160    1937-04-12   81.0
1161    1942-10-01   75.0
1162    1934-03-09   84.0
1163    1953-01-21   65.0
1164    1947-01-06   71.0
1165    1937-07-31   81.0
1166    1946-11-01   71.0
1167    1953-04-04   65.0
1168    1935-12-01   82.0
1169    1939-04-08   79.0
1170    1962-10-10   55.0

[1171 rows x 2 columns]